<!-- Categories Start -->
<div class="section145">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title-tt">
          <div class="main-title-left">
            <span>Shop By</span>
            <h2>Categories</h2>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <owl-carousel-o [options]="customOptions" class="cate-slider">
          <ng-template carouselSlide *ngFor="let cat of categories">
            <div class="item">
              <a [routerLink]="['/app/catalogue/products', cat.id]" class="category-item">
                <div class="cate-img">
                  <img src="{{cat.photo}}" alt="{{cat.name}}">
                </div>
                <h4>{{cat.name}}</h4>
              </a>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<!-- Categories End -->
