<!-- Featured Products Start -->
<div class="section145">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title-tt">
                    <div class="main-title-left">
                        <span>For You</span>
                        <h2>{{title}}</h2>
                    </div>
                    <a href="#" class="see-more-btn">See All</a>
                </div>
            </div>
            <div class="col-md-12">
                <owl-carousel-o [options]="customOptions" class="featured-slider">
                    <ng-template carouselSlide *ngFor="let prd of products">
                        <div class="item">
                            <app-product-item [product]="prd"></app-product-item>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
<!-- Featured Products End -->