<!-- Offers Start -->
<div class="main-banner-slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <owl-carousel-o [options]="customOptions" class="offers-banner">
          <ng-template carouselSlide>
            <div class="item">
              <div class="offer-item">
                <div class="offer-item-img">
                  <div class="gambo-overlay"></div>
                  <img src="assets/images/banners/offer-1.jpg" alt="">
                </div>
                <div class="offer-text-dt">
                  <div class="offer-top-text-banner">
                    <p>6% Off</p>
                    <div class="top-text-1">Buy More & Save More</div>
                    <span>Fresh Vegetables</span>
                  </div>
                  <a href="#" class="Offer-shop-btn hover-btn">Shop Now</a>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <div class="offer-item">
                <div class="offer-item-img">
                  <div class="gambo-overlay"></div>
                  <img src="assets/images/banners/offer-2.jpg" alt="">
                </div>
                <div class="offer-text-dt">
                  <div class="offer-top-text-banner">
                    <p>5% Off</p>
                    <div class="top-text-1">Buy More & Save More</div>
                    <span>Fresh Fruits</span>
                  </div>
                  <a href="#" class="Offer-shop-btn hover-btn">Shop Now</a>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <div class="offer-item">
                <div class="offer-item-img">
                  <div class="gambo-overlay"></div>
                  <img src="assets/images/banners/offer-3.jpg" alt="">
                </div>
                <div class="offer-text-dt">
                  <div class="offer-top-text-banner">
                    <p>3% Off</p>
                    <div class="top-text-1">Hot Deals on New Items</div>
                    <span>Daily Essentials Eggs & Dairy</span>
                  </div>
                  <a href="#" class="Offer-shop-btn hover-btn">Shop Now</a>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <div class="offer-item">
                <div class="offer-item-img">
                  <div class="gambo-overlay"></div>
                  <img src="assets/images/banners/offer-4.jpg" alt="">
                </div>
                <div class="offer-text-dt">
                  <div class="offer-top-text-banner">
                    <p>2% Off</p>
                    <div class="top-text-1">Buy More & Save More</div>
                    <span>Beverages</span>
                  </div>
                  <a href="#" class="Offer-shop-btn hover-btn">Shop Now</a>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <div class="offer-item">
                <div class="offer-item-img">
                  <div class="gambo-overlay"></div>
                  <img src="assets/images/banners/offer-5.jpg" alt="">
                </div>
                <div class="offer-text-dt">
                  <div class="offer-top-text-banner">
                    <p>3% Off</p>
                    <div class="top-text-1">Buy More & Save More</div>
                    <span>Nuts & Snacks</span>
                  </div>
                  <a href="#" class="Offer-shop-btn hover-btn">Shop Now</a>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<!-- Offers End -->
