<div class="sub-header-group">
  <div class="sub-header">
    <div class="ui dropdown">
      <a href="#" class="category_drop hover-btn" data-toggle="modal" data-target="#category_model"
        title="Categories"><i class="uil uil-apps"></i><span class="cate__icon">Select Category</span></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light py-3">
      <div class="container-fluid">
        <button class="navbar-toggler menu_toggle_btn" type="button" data-target="#navbarSupportedContent"><i
            class="uil uil-bars"></i></button>
        <div
          class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end bg-dark1 p-3 p-lg-0 mt1-5 mt-lg-0 mobileMenu"
          id="navbarSupportedContent">
          <ul class="navbar-nav main_nav align-self-stretch">
            <li class="nav-item"><a href="index.html" class="nav-link active" title="Home">Home</a></li>
            <li class="nav-item"><a href="shop_grid.html" class="nav-link new_item" title="New Products">New
                Products</a></li>
            <li class="nav-item"><a href="shop_grid.html" class="nav-link" title="Featured Products">Featured
                Products</a></li>
            <li class="nav-item">
              <div class="ui icon top left dropdown nav__menu">
                <a class="nav-link" title="Pages">Pages <i class="uil uil-angle-down"></i></a>
                <div class="menu dropdown_page">
                  <a href="dashboard_overview.html" class="item channel_item page__links">Account</a>
                  <a href="about_us.html" class="item channel_item page__links">About Us</a>
                  <a href="shop_grid.html" class="item channel_item page__links">Shop Grid</a>
                  <a href="single_product_view.html" class="item channel_item page__links">Single Product View</a>
                  <a href="checkout.html" class="item channel_item page__links">Checkout</a>
                  <a href="request_product.html" class="item channel_item page__links">Product Request</a>
                  <a href="order_placed.html" class="item channel_item page__links">Order Placed</a>
                  <a href="bill.html" class="item channel_item page__links">Bill Slip</a>
                  <a href="sign_in.html" class="item channel_item page__links">Sign In</a>
                  <a href="sign_up.html" class="item channel_item page__links">Sign Up</a>
                  <a href="forgot_password.html" class="item channel_item page__links">Forgot Password</a>
                  <a href="contact_us.html" class="item channel_item page__links">Contact Us</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="ui icon top left dropdown nav__menu">
                <a class="nav-link" title="Blog">Blog <i class="uil uil-angle-down"></i></a>
                <div class="menu dropdown_page">
                  <a href="our_blog.html" class="item channel_item page__links">Our Blog</a>
                  <a href="blog_no_sidebar.html" class="item channel_item page__links">Our Blog Two No Sidebar</a>
                  <a href="blog_left_sidebar.html" class="item channel_item page__links">Our Blog with Left Sidebar</a>
                  <a href="blog_right_sidebar.html" class="item channel_item page__links">Our Blog with Right
                    Sidebar</a>
                  <a href="blog_detail_view.html" class="item channel_item page__links">Blog Detail View</a>
                  <a href="blog_left_sidebar_single_view.html" class="item channel_item page__links">Blog Detail View
                    with Sidebar</a>
                </div>
              </div>
            </li>
            <li class="nav-item"><a href="contact_us.html" class="nav-link" title="Contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="catey__icon">
      <a href="#" class="cate__btn" data-toggle="modal" data-target="#category_model" title="Categories"><i
          class="uil uil-apps"></i></a>
    </div>
    <div class="header_cart order-1">
      <a href="#" (click)="openCartSideBar($event)" class="cart__btn hover-btn pull-bs-canvas-left" title="Cart"><i
          class="uil uil-shopping-cart-alt"></i><span>Cart</span><ins>{{basket.count}}</ins><i
          class="uil uil-angle-down"></i></a>
    </div>
    <div class="search__icon order-1">
      <a href="#" class="search__btn hover-btn" data-toggle="modal" data-target="#search_model" title="Search"><i
          class="uil uil-search"></i></a>
    </div>
  </div>
</div>

<!-- Cart Sidebar Offset Start-->
<div *ngIf="cartShowed" class="bs-canvas-overlay bg-dark position-fixed w-100 h-100"></div>
<div #cartSideBar class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
  <div class="bs-canvas-header side-cart-header p-3 ">
    <div class="d-inline-block  main-cart-title">My Cart <span>({{basket.count}} Items)</span></div>
    <button (click)="closeCardSideBar()" type="button" class="bs-canvas-close close" aria-label="Close"><i
        class="uil uil-multiply"></i></button>
  </div>
  <div class="bs-canvas-body">
    <div class="cart-top-total">
      <div class="cart-total-dil">
        <h4>Gambo Super Market</h4>
        <span>${{basket.total | number: '.2-2'}}</span>
      </div>
      <div class="cart-total-dil pt-2">
        <h4>Delivery Charges</h4>
        <span>${{basket.charge | number: '.2-2'}}</span>
      </div>
    </div>
    <div class="side-cart-items">
      <div class="cart-item" *ngFor="let prd of basket.products">
        <div class="cart-product-img">
          <img src="{{prd.photos[0]}}" alt="">
          <div class="offer-badge">6% OFF</div>
        </div>
        <div class="cart-text">
          <h4>{{prd.name}}</h4>
          <div class="cart-radio">
            <ul class="kggrm-now">
              <li>
                <input type="radio" id="a1" name="cart1">
                <label for="a1">0.50</label>
              </li>
              <li>
                <input type="radio" id="a2" name="cart1">
                <label for="a2">1kg</label>
              </li>
              <li>
                <input type="radio" id="a3" name="cart1">
                <label for="a3">2kg</label>
              </li>
              <li>
                <input type="radio" id="a4" name="cart1">
                <label for="a4">3kg</label>
              </li>
            </ul>
          </div>
          <div class="qty-group">
            <div class="quantity buttons_added">
              <input type="button" value="-" class="minus minus-btn">
              <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
              <input type="button" value="+" class="plus plus-btn">
            </div>
            <div class="cart-item-price" *ngIf="prd.discountResource==null">${{prd.price}}</div>
            <div class="product-price" *ngIf="prd.discountResource!=null">
              ${{prd.price - (prd.price*prd.discountResource.percentage/100) | number: '.2-2'}}
              <span>${{prd.price}}</span>
            </div>
          </div>
          <button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="bs-canvas-footer">
    <div class="cart-total-dil saving-total ">
      <h4>Total Saving</h4>
      <span>${{basket.saving | number: '.2-2'}}</span>
    </div>
    <div class="main-total-cart">
      <h2>Total</h2>
      <span>${{basket.total | number: '.2-2'}}</span>
    </div>
    <div class="checkout-cart">
      <a href="#" class="promo-code">Have a promocode?</a>
      <a href="#" class="cart-checkout-btn hover-btn">Proceed to Checkout</a>
    </div>
  </div>
</div>
<!-- Cart Sidebar Offsetl End-->
